# --- 1. VARIABLES DE ENTORNO (CRÍTICO - SEGURIDAD) ---
.env
.env.local
.env*.local
.env.production
.env.development
.env.test
# Bloqueo preventivo de llaves y certificados
*.pem
*.key
*.pfx
*.p12
id_rsa
keystore
*secret*
*PRIVATE_KEY*

# --- 2. FOUNDRY & WEB3 ARTIFACTS (ESTRICTO) ---
# Evitamos subir logs de transacciones y archivos compilados
lib/
out/
cache/
broadcast/
artifacts/
typechain-types/
contracts/out/
contracts/cache/
contracts/broadcast/
# Ignoramos la base de datos de cache de Forge
.forge/
.foundry/

# --- 3. DEPENDENCIAS & NEXT.JS ---
node_modules/
.next/
.turbo/
build/
dist/
.vercel/

# --- 4. ARCHIVOS DE SISTEMA & IDE ---
.DS_Store
.DS_Store?
._*
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# --- 5. LOGS ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/